[user]
	email = damoon.rashidi@gmail.com
	name = Damoon Rashidi

[core]
  pager = delta
  editor = hx

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true
  line-numbers = true
  theme = "github"

[merge]
  conflictStyle = diff3

[diff]
  colorMoved = default

[fetch]
  prune = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[oh-my-zsh]
	hide-info = 1
