layout borderless=true {
    tab name="Brand" cwd="~/dev/wehype/brand/frontend/avalon" focus=true {
        pane split_direction="vertical" {
            pane command="hx" focus=true size="80%"{
                args "."
            }
            pane split_direction="horizontal" {
                pane name="avalon cmd"
                pane size="20%" command="npm" name="dev server" {
                    args "run" "dev"
                }
            }
        }
    }
    tab name="UI" cwd="~/dev/svelte-ui" {
        pane split_direction="vertical" {
            pane  size="75%" command="hx" {
                args "."
            }
            pane split_direction="horizontal" {
                pane name="ui cmd"
                pane size="20%" command="npm" name="storybook" {
                    args "run" "storybook" "--" "--no-open"
                }
            }
        }
    }
    tab name="Backend" cwd="~/dev/wehype/Backend" {
        pane command="hx" {
            args "."
        }
    }
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
